body  {
        font-family: Arial, sans-serif;
        color: #0a0909;
        letter-spacing: 2px;
}
header {
border-bottom: 1px solid #5f5f5f;
}

#header {
    font-size: 20px;
    font-weight: bold;
}   

nav a:visited {
    color:green;
}

nav a:hover {
    color:red;
}





#header p,
#header nav {
    margin: 10px 5px 0 0;
    display: inline-block;
    

}

#header nav {
    float: right;
    color: red;
}


   
.clearfix {
  overflow: auto;
}






.img {
    float: right;
    margin-right: 30px;
}


.container {
    font-size: 22px;
    margin: 20px 0 50px 50px;
}

h1 {
    font-size: 90px;
    color: red;
    line-height: 1;
    padding: 0;
    margin: 0;
}
div {
display: block;

}
.red {
    color: red;
    font-weight: bold;
    font-size: 36px;
}
div a {
    text-decoration: none;
}
.second_container {
    border-top: 1px solid #5f5f5f;
    border-bottom: 1px solid #5f5f5f;
    padding: 30px 0;
    text-align: center;
    margin: 0 50px;
    font-size: 26px;
    line-height: 1.6;
}
.list_sites {
    padding: 10px 0 50px 0;
    margin: 30px 0 20px 50px;
}

.button {
    margin: 20px auto 20px;
    background-color: white;
    border: 1px solid black;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;

}

footer {
    text-align: center;
    padding-top: 10px;
    bottom: 0;
    height: 50px;
    width: 100%;
    border-top: 1px solid black;
}
